In [1]:
import pandas as pd

In [38]:
df = pd.read_csv("ml-bugs.csv")
df.head()

  Species  Color  Length (mm)
0   Mobug  Brown         11.6
1   Mobug   Blue         16.3
2   Lobug   Blue         15.1
3   Lobug  Green         23.7
4   Lobug   Blue         18.4

In [70]:
def entropy(t):
    s = sum(t)
    x=0
    import math as m
    for i in t:
        x -= (i/s) * m.log(i/s,2)
    return x

In [28]:
df.Species.value_counts()

Lobug    14
Mobug    10
Name: Species, dtype: int64

In [68]:
M = entropy([10,14])

0.9798687566511527

In [60]:
print(df.drop('Length (mm)',axis = 1)[df.Color == "Brown"].value_counts(),
df.drop('Length (mm)',axis = 1)[df.Color == "Blue"].value_counts(),
df.drop('Length (mm)',axis = 1)[df.Color == "Green"].value_counts(),
pd.DataFrame(df[df['Length (mm)'] < 20].drop(['Color','Length (mm)'], axis = 1)).value_counts())

Species  Color
Mobug    Brown    4
Lobug    Brown    2
dtype: int64 Species  Color
Lobug    Blue     6
Mobug    Blue     4
dtype: int64 Species  Color
Lobug    Green    6
Mobug    Green    2
dtype: int64 Species
Mobug      9
Lobug      8
dtype: int64

In [75]:
M - entropy([6,2]) #green color

0.16859063219201986

In [42]:
df.columns

Index(['Species', 'Color', 'Length (mm)'], dtype='object')